/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

header {
  width: 90%; /* 横幅 */
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

header .heading {
  /* headerタグ内のheadingクラスにのみ反映される */
  font-size: 32px;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 100%; /* 横幅 */
  height: auto;
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin-top: 50px; /* 中央寄せ（左右に余白がないとできない） */
  margin-bottom: 50px;
}

.green {
  width: 800px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  display: flex; /* Flexboxの利用 */
  margin: 0 auto;
}

.green1 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #e6ffe9;
}

.green2 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #cbffd3;
}

.green3 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #aeffbd;
}

.green4 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #93ffab;
}

.yellow {
  width: 800px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  display: flex; /* Flexboxの利用 */
  margin: 0 auto;
}

.yellow1 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #f3ffd8;
}

.yellow2 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #edffbe;
}

.yellow3 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #e9ffa5;
}

.yellow4 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #e4ff8d;
}

.blue {
  width: 800px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  display: flex; /* Flexboxの利用 */
  margin: 0 auto;
}

.blue1 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #d9e5ff;
}

.blue2 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #bad3ff;
}

.blue3 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #a4c6ff;
}

.blue4 {
  width: 200px; /* 横幅600px */
  height: 200px; /* 高さ1400px */
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}